:root {
    --disabled-color: rgb(128, 128, 128);
    --grass-color: rgb(90, 162, 132);
    --text-color: rgb(255, 203, 0);
    --transparent-bg-color: rgba(0, 0, 0, .7);
}

.hidden {
    visibility: hidden;
}

@font-face {
    font-family: dppt;
    src: url("fonts/dppt.ttf");
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 0;
    font-family: dppt, sans-serif;
    color: var(--text-color);
}

header {
    height: 15vh;
    position: relative;
    background-image: linear-gradient(var(--transparent-bg-color), rgba(0, 0, 0, 0));
}

.logo-area, h1 {
    display: inline-block;
}

.logo-area {
    height: 100%;
    width: 15vh;
    background: url("images/pokemon.png") calc((21 * 320%) / 86.40) calc((5 * 320%) / 16.00);
    background-size: 2800% 600%;
    transform: rotateY(180deg);
}

h1 {
    margin: 0;
    font-size: 4rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats-area, .game-area, .dex-area {
    height: 85vh;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.stats-area {
    width: 20%;
    text-align: center;
}

.stats-inner, .dex-inner {
    width: 70%;
    padding: 5%;
    position: relative;
    left: 10%;
    font-size: 1.8em;
    background-color: var(--transparent-bg-color);
    border-radius: 10px;
}

.stats-inner {
    top: 50%;
    transform: translateY(-50%);
}

.stats-inner div {
    margin-top: 10px;
}

.stats-inner button {
    font-family: inherit;
    font-size: 1em;
    color: inherit;
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    margin-top: 15px;
    width: 70%;
    padding: 2%;
}

.game-area {
    width: 60%;
}

.card-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90%;
    min-height: 70%;
    width: 100%;
    background-color: var(--transparent-bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: transparent;
    height: 9vw;
    width: 9vw;
    perspective: 1000px;
}

.flipped {
    transform: rotateX(-180deg);
}

.card-inner, .front, .back, .grass {
    height: 100%;
}

.card-inner {
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.dex-entry {
    /*background: rgba(0, 0, 0, .2);*/
    /*background-size: 2800% 600%;*/
    width: 100%;
    height: 100%;
}

.front {
    background: url("images/pokemon.png") rgba(0, 0, 0, .2);
    background-size: 2800% 600%;
    width: 100%;
    transform: rotateX(-180deg);
}

.back {
    background: var(--grass-color);
}

.dex-area {
    width: 20%;
}

.dex-inner {
    height: 90%;
}

.dex-header {
    height: 1em;
    text-align: center;
}

.dex-header > .label {
    /*width: 20%*/
}

.dex-num {
    margin-left: 2%;
}

.dex-holder {
    height: calc(100% - 1em);
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.dex-holder::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.dex-entry {
    display: inline-block;
    width: calc(14vw / 6);
    height: calc(14vw / 6);
    font-size: .6em;
    color: var(--disabled-color);
}